:root {
    --blue: #0e7bff ;
    --red: #ff2535 ;
    --green: #3ae396 ;
    --yellow: #e5c23b ;
    --purple: #300a24 ;
    --orange: #f18442 ;
    --teal: #3be5aa ;
    --gray: #5c5c5c ;
    --light-gray: #d3d3d3 ;
    --off-white: #dbdce1;
    --white: #ffffff;
    --black: #000000;
    --dark: #333333;

    --green-phosphor: #92ff6f;
    --green-phosphor-bg: #2c362c;

    --amber-phosphor: #fb952f;
    --amber-phosphor-bg: #4e3e44;
}

body {
    color: var(--blue) ;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    background-color: var(--dark);
    width: max-content;
    height: max-content;
}

body.loading {
    height: 520px;
    width: 750px;
}

#terminal-container {
    margin: auto;
    width: max-content;
}

#terminal-container #terminal-window {
    padding: 5px 10px;
    border: 5px solid var(--light-gray);
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    overflow-y: auto;
    overflow-x: hidden;
}

#terminal-container #terminal-window.green {
    background-color: var(--green-phosphor-bg);
}

#terminal-container #terminal-window.amber {
    background-color: var(--amber-phosphor-bg);
}

#terminal-container #terminal-window .char-row {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    position: relative;
    height: 20px;
    margin: 0;
    padding: 0;
}

#terminal-container #terminal-window .char-row .char-box {
    width: 12px;
    display: inline-block;
    cursor: default;
}

#terminal-input {
    position: absolute;
    top: 0;
    z-index: -1;
}

#debug-output {
    background-color: var(--off-white);
    border: 1px solid black;
    margin-top: 5px;
    padding:5px;
    min-height:50px;
    max-height:350px;
    overflow: auto;
}

/* Blinking cursor */
@keyframes blinking-cursor {
    0%   { opacity: 100% }
    49%  { opacity: 100% }
    50%  { opacity: 0 }
    100% { opacity: 0 }
}

.blink {
    animation-name: blinking-cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Loading spinner */
#loading-spinner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
}

#loading-spinner img {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

body.loading #loading-spinner {
    display: block;
}

@keyframes rotate-clockwise {
    0%   { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(90deg); }
    50%  { transform: rotateZ(180deg); }
    75%  { transform: rotateZ(270deg); }
    100% { transform: rotateZ(360deg); }
}

body.loading #loading-spinner img {
    animation-name: rotate-clockwise;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
